@inherits LayoutComponentBase
@inject NavigationManager Nav
<div class="layout">
    <div class="particles">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>
    <header>
        <img class="header-bg" src="/img/header-wide.webp" alt="" />
        <div class="header-overlay">
            <h1><span>Sentaur Survivors</span></h1>
            <p class="tagline">@(Nav.Uri.Contains("/latest") ? "Latest" : "Highscores")</p>
        </div>
    </header>
    <div class="page">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>
